# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [17]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Busselton,AU,-33.6500,115.3333,52.07,85,71,12.71,broken clouds
1,1,Port Elizabeth,ZA,-33.9180,25.5701,66.31,81,100,1.99,overcast clouds
2,2,Saint George,US,37.1041,-113.5841,42.80,45,0,0.00,clear sky
3,3,Okha,RU,53.5739,142.9478,11.98,92,66,5.37,broken clouds
4,4,Amahai,ID,-3.3333,128.9167,79.16,84,100,2.28,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [18]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [20]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Amahai,ID,-3.3333,128.9167,79.16,84,100,2.28,overcast clouds
6,6,Puerto Ayora,EC,-0.7393,-90.3518,78.76,83,74,4.00,broken clouds
10,10,Pitimbu,BR,-7.4706,-34.8086,84.79,65,14,11.36,few clouds
13,13,Riyadh,SA,24.6877,46.7219,77.14,20,100,9.42,overcast clouds
16,16,Comodoro Rivadavia,AR,-45.8667,-67.5000,78.66,27,75,19.57,broken clouds
19,19,Gizo,SB,-8.1030,156.8419,81.18,76,81,2.44,light rain
23,23,Umm Lajj,SA,25.0213,37.2685,75.72,58,100,8.12,overcast clouds
24,24,Kavaratti,IN,10.5669,72.6420,82.44,70,22,2.98,few clouds
28,28,Avarua,CK,-21.2078,-159.7750,75.25,83,75,10.36,broken clouds
31,31,Mogadishu,SO,2.0371,45.3438,79.97,81,1,14.94,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [30]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Amahai,ID,-3.3333,128.9167,79.16,84,100,2.28,overcast clouds
6,6,Puerto Ayora,EC,-0.7393,-90.3518,78.76,83,74,4.00,broken clouds
10,10,Pitimbu,BR,-7.4706,-34.8086,84.79,65,14,11.36,few clouds
13,13,Riyadh,SA,24.6877,46.7219,77.14,20,100,9.42,overcast clouds
16,16,Comodoro Rivadavia,AR,-45.8667,-67.5000,78.66,27,75,19.57,broken clouds
...,...,...,...,...,...,...,...,...,...,...
680,680,Acapulco,MX,16.8634,-99.8901,84.49,66,98,4.27,overcast clouds
682,682,Palmas Bellas,PA,9.2319,-80.0867,84.34,86,86,8.43,moderate rain
683,683,Shakawe,BW,-18.3667,21.8500,83.32,27,3,4.05,clear sky
691,691,Praia,CV,14.9215,-23.5087,86.54,54,20,14.97,few clouds
692,692,Akyab,MM,20.1500,92.9000,75.33,69,1,5.44,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [31]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng
4,Amahai,ID,79.16,overcast clouds,-3.3333,128.9167
6,Puerto Ayora,EC,78.76,broken clouds,-0.7393,-90.3518
10,Pitimbu,BR,84.79,few clouds,-7.4706,-34.8086
13,Riyadh,SA,77.14,overcast clouds,24.6877,46.7219
16,Comodoro Rivadavia,AR,78.66,broken clouds,-45.8667,-67.5000
19,Gizo,SB,81.18,light rain,-8.1030,156.8419
23,Umm Lajj,SA,75.72,overcast clouds,25.0213,37.2685
24,Kavaratti,IN,82.44,few clouds,10.5669,72.6420
28,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750
31,Mogadishu,SO,79.97,clear sky,2.0371,45.3438

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [32]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Amahai,ID,79.16,overcast clouds,-3.3333,128.9167,
6,Puerto Ayora,EC,78.76,broken clouds,-0.7393,-90.3518,
10,Pitimbu,BR,84.79,few clouds,-7.4706,-34.8086,
13,Riyadh,SA,77.14,overcast clouds,24.6877,46.7219,
16,Comodoro Rivadavia,AR,78.66,broken clouds,-45.8667,-67.5000,
19,Gizo,SB,81.18,light rain,-8.1030,156.8419,
23,Umm Lajj,SA,75.72,overcast clouds,25.0213,37.2685,
24,Kavaratti,IN,82.44,few clouds,10.5669,72.6420,
28,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,
31,Mogadishu,SO,79.97,clear sky,2.0371,45.3438,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [33]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [34]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Amahai,ID,79.16,overcast clouds,-3.3333,128.9167,HOTEL ISABELA
6,Puerto Ayora,EC,78.76,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
10,Pitimbu,BR,84.79,few clouds,-7.4706,-34.8086,Reserva do Abiaí
13,Riyadh,SA,77.14,overcast clouds,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"
16,Comodoro Rivadavia,AR,78.66,broken clouds,-45.8667,-67.5000,Austral Hotel
19,Gizo,SB,81.18,light rain,-8.1030,156.8419,Imagination Island
23,Umm Lajj,SA,75.72,overcast clouds,25.0213,37.2685,Moon light Furnished Units
24,Kavaratti,IN,82.44,few clouds,10.5669,72.6420,Green leaf
28,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,Paradise Inn
31,Mogadishu,SO,79.97,clear sky,2.0371,45.3438,Hotel Juba

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [37]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Amahai,ID,79.16,overcast clouds,-3.3333,128.9167,HOTEL ISABELA
6,Puerto Ayora,EC,78.76,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
10,Pitimbu,BR,84.79,few clouds,-7.4706,-34.8086,Reserva do Abiaí
13,Riyadh,SA,77.14,overcast clouds,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"
16,Comodoro Rivadavia,AR,78.66,broken clouds,-45.8667,-67.5000,Austral Hotel
19,Gizo,SB,81.18,light rain,-8.1030,156.8419,Imagination Island
23,Umm Lajj,SA,75.72,overcast clouds,25.0213,37.2685,Moon light Furnished Units
24,Kavaratti,IN,82.44,few clouds,10.5669,72.6420,Green leaf
28,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,Paradise Inn
31,Mogadishu,SO,79.97,clear sky,2.0371,45.3438,Hotel Juba

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [38]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [43]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [40]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>HOTEL ISABELA</dd>\n<dt>City</dt><dd>Amahai</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.76 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Reserva do Abiaí</dd>\n<dt>City</dt><dd>Pitimbu</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>few clouds and 84.79 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>InterContinental Riyadh, an IHG Hotel</dd>\n<dt>City</dt><dd>Riyadh</dd>\n<dt>Country</dt><dd>SA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.14 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Austral Hotel</dd>\n<dt>City</dt><dd>Comodoro Rivadavia</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.66 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Imagination Island</dd>\n<dt>City</dt><dd>Gizo</dd>\n<dt>Country</dt><dd>SB</dd>\n<dt>Current Weather</dt><dd>light rain and 81.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Moon light Furnished Units</dd>\n<dt>City</dt><dd>Umm Lajj</dd>\n<dt>Country</dt><dd>SA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.72 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Green leaf</dd>\n<dt>City</dt><dd>Kavaratti</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>few clouds and 82.44 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd>broken clouds and 75.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Juba</dd>\n<dt>City</dt><dd>Mogadishu</dd>\n<dt>Country</dt><dd>SO</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.97 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [41]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
4   -3.3333  128.9167
6   -0.7393  -90.3518
10  -7.4706  -34.8086
13  24.6877   46.7219
16 -45.8667  -67.5000
19  -8.1030  156.8419
23  25.0213   37.2685
24  10.5669   72.6420
28 -21.2078 -159.7750
31   2.0371   45.3438

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [42]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))